.notfound-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-back {
  display: flex;
  justify-content: center;
  background-image: url("https://i.imgur.com/pv46b7y.jpeg");
  height: 200px;
  width: 200px;
  margin-left: 300px; 
  background-repeat: no-repeat;
  background-size: contain;
}

.logo-back:hover {
  cursor: pointer;
}


