
/*----------- LoadAllSpots component css ------------*/

.loadAllSpots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  padding: 0 12vw;
}

.loadAllSpots-allspots-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 30px 20px;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 80px;
}


/*----------- SpotCard component css ------------*/

.spotCard-image-container {
  width: 100%;
  padding-bottom: 100%;
  margin: 1em auto;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  border: 1px solid red; 
}

.spotCard-image-container img {
  position: absolute;
  object-fit: cover;
  width: auto;
  max-width: 100%;
  min-height: 100%;
  border-radius: 15px;
}


.spotCard-spot-detail-info {
  display: flex;
  justify-content: space-between;
  padding: 0px 2px 2px 0px;
  min-width: 0;
}

.spotCard-spot-location-detail {
  font-weight: bolder;
}

.spotCard-spot-country {
  font-size: 14px;
  color: rgb(171, 178, 193);
}

.spotCard-spot-price {
  font-weight: bolder;
}

.spotCard-spot-price span {
  font-weight: lighter;
}


/*----------- LoadOneSpot component css ------------*/

.loadOneSpot-container {
  display: flex;
  flex-direction: column;
  margin: 0px 12vw;
  margin-bottom: 80px;

}

.loadOneSpot-header-name {
  margin-top: 40px;
  margin-bottom: 5px;
}

.loadOneSpot-header-detail {
  margin-top: -14px;
  margin-bottom: 20px;
}

.loadOneSpot-header-detail span {
  font-size: 15px;
  margin-right: 5px;
  font-weight: 500;
}

.loadOneSpot-images-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  overflow: hidden;
  border-radius: 10px;
  /* width: 60vw; */
  height: 450px;
}

.loadOneSpot-other-images-container {
  display: grid;
  grid-template: 1fr 1fr/ 1fr 1fr;
  gap: 6px;
  height: 450px;
}

.loadOneSpot-other-image {
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  border: 1px solid red; 
  border-radius: 5px;
}

.loadOneSpot-previewImage {
  display: block; 
  max-height: 450px;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  min-height: 450px;
  border: 1px solid red;
}


.loadOneSpot-below-pictures-div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px; 
}

.loadOneSpot-below-picture-div-left-subdiv h2 {
  margin-top: 40px;
}

.loadOneSpot-linebreak {
  display: flex;
  background-color: rgb(96, 123, 198, 0.2);
  margin-top: 30px;
  margin-bottom: 30px;
  width: 98%;
  height: 1px;
}

.loadOneSpot-floatbox {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  border: solid rgb(187, 200, 228, 0.3) 0.1px;
  box-shadow: 0px 0px 10px rgb(187, 200, 228, 0.7);
  height: 22vh;
  width: 90%;
  margin: 40px 0px 40px 10px;
  padding: 20px 0px 0px 20px;
}

.loadOneSpot-floatbox-header {
  display: flex;
  justify-content: space-between;
  margin-left: 6px;
  margin-right: 30px;
  height: 60px;
}

.loadOneSpot-floatbox-price {
  font-size: 22px;
  font-weight: bolder;
}

.loadOneSpot-floatbox-review {
  padding-top: 5px;
}

.loadOneSpot-floatbox-review span {
  font-weight: bolder;
  font-size: 14px;
}


/* .reserve-button {
  background-color: 'red';
  color: 'white';
  margin-top: 50; 
  margin-left: 90;
  font-size: 15; 
  font-weight: 'bolder'; 
  padding: '8px 18px'; 
  border-radius: '18px'; 
  border: 'none'
} */


.bold {
  font-weight: bolder;
}

.long { width: 99.8%; }

.loadOneSpot-review-header {
  font-weight: bolder;
  font-size: 22px;
  margin-top: -3px;
}


.loadOneSpot-reviews-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 40px;
}


.loadOneSpot-review-button {
  cursor: pointer;
  width: 115px;
  padding: 3px 10px;
  margin: 3px 0px 20px 0px;
  border: 1px rgb(255, 90, 96) solid;
  border-radius: 4px;
  background: rgb(255, 90, 96);
  color: white;
  font: bold;
}

.loadOneSpot-review-button:hover {
  background: white;
  border: 1px rgb(255, 90, 96) solid;
  color:rgb(255, 90, 96);
}



/*----------- LoadMySpots component css ------------*/

.myspots-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.myspots-header>h1,.myspots-header>h4 {
  display: flex;
  justify-content: center;
}

.myspots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  padding: 0 12vw;
}

.myspots-allspots-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 30px 20px;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 80px;
}

.myspots {
  margin-top: 0px;
  margin-bottom: 80px;
}


/*----------- MySpotCard component css ------------*/


.myspotcard-spot-image-container {
  width: 100%;
  padding-bottom: 100%;
  margin: 1em auto;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}


.myspotcard-spot-image-container img {
  position: absolute;
  object-fit: cover;
  width: auto;
  max-width: 100%;
  min-height: 100%;
  border-radius: 15px;
}

/* .myspotcard-spot-info {
  text-decoration: none;
} */


.myspotcard-spot-header {
  display: flex;
  justify-content: space-between;
  padding: 0px 2px 2px 0px;
  /* margin-top: 5px; */
  min-width: 0;
}


.myspotcard-spot-location {
  font-weight: bolder;
}

.myspotcard-spot-country {
  font-size: 14px;
  color: rgb(171, 178, 193);
}

/* .myspotcard-spot-rating {
  font-weight: bolder;
} */


.myspotcard-spot-price {
  font-weight: bolder;
}

.myspotcard-spot-price span {
  font-weight: lighter;
}


.myspotcard-buttons-container {
  display: flex;
  justify-content:space-between;
  padding: 0px 2px 2px 0px;
  min-width: 0;

}

.myspotcard-buttons {
  cursor: pointer;
  width: 110px;
  padding: 3px 10px;
  margin: 6px 3px 3px 0px;
  border: 1px rgb(255, 90, 96) solid;
  border-radius: 4px;
  background: rgb(255, 90, 96);
  color: white;
  font: bold;
}

.myspotcard-buttons:hover {
  background: white;
  border: 1px rgb(255, 90, 96) solid;
  color:rgb(255, 90, 96);
}



/*----------- CreateSpot component css ------------*/

.createSpot-form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.createSpot-header {
  margin-bottom: 10px;
}

.validation-errors {
  color: red; 
}


.createSpot-form-container {
  display: flex;
  justify-content: center;
}

.form-input-break{
  background-color: rgb(200, 200, 200);
  height:1px;
  margin-left: -11px;
  width: 103%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.createSpot-form-container .form-input-break {
  width:102.5%;
}

.createSpot-form-container select {
  width: 98%;
  /* margin-left: 13px; */
}
.createSpot-form-container input {
  margin-left: 3px;
}
.createSpot-form-container textarea {
  margin-left: 3px;
}
.createSpot-form-container label {
  color: rgb(255, 90, 96);
  /* color: gray; */
  margin-left: 6px;
}

.form-input-wrapper {
  border: rgb(200, 200, 200) 1px solid;
  border-radius: 9px;
  margin: 15px 25px 25px 25px;
  padding-left: 10px;
  padding-top: 5px;
}


.select-country {
  border: 1px solid grey; 
  border-radius: 4px;
  width: 97%;
  margin: 4px 0px 4px 3px; 
}


.createSpot-submitBtn {
  width: 98%;
  padding: 10px;
  margin: 0px 0px 5px 6px;
  border: 1px rgb(255, 90, 96) solid;
  border-radius: 4px;
  background: rgb(255, 90, 96);
  color: white;
  font: bold;
}

.createSpot-submitBtn:hover {
  background: white;
  border: 1px rgb(255, 90, 96) solid;
  color:rgb(255, 90, 96);
}



/*----------- EditSpot component css ------------*/



.editSpot-form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.editSpot-header {
  margin-bottom: 10px;
}

.validation-errors {
  color: red; 
}


.editSpot-form-container {
  display: flex;
  justify-content: center;
}

.editSpot-form-container select {
  width: 92%;
  /* margin-left: 13px; */
}
.editSpot-form-container input {
  margin-left: 3px;
}
.editSpot-form-container textarea {
  margin-left: 3px;
}
.editSpot-form-container label {
  color: rgb(255, 90, 96);
  /* color: gray; */
  margin-left: 6px;
}

.form-input-wrapper {
  border: rgb(200, 200, 200) 1px solid;
  border-radius: 9px;
  margin: 15px 25px 25px 25px;
  padding-left: 10px;
  padding-top: 5px;
}

.select-country {
  border: 1px solid grey; 
  border-radius: 4px;
  width: 97%;
  margin: 4px 0px 4px 3px; 
}


.editSpot-submitBtn {
  width: 97%;
  padding: 10px;
  margin: 0px 0px 5px 8px;
  border: 1px rgb(255, 90, 96) solid;
  border-radius: 4px;
  background: rgb(255, 90, 96);
  color: white;
  font: bold;
}

.editSpot-submitBtn:hover {
  background: white;
  border: 1px rgb(255, 90, 96) solid;
  color:rgb(255, 90, 96);
}
